{% extends 'JgzzMediaLinkerBundle:CRUD:linked_entity_row_base.html.twig' %}

{% block entity_row_top %}
<span class="jzl_row jzl_row_sonatamediaimage">
	<span class="jzl_row_cell_title">
		<a target="_blank" href="{% path linked, 'reference' %}">
			{% thumbnail linked, 'small' with {'class': 'jzlink-row-sonatamediaimage-image img-polaroid'} %}
		</a>
	</span>
{% endblock %}

{% block entity_row_common_actions %}
	<span class="jzl_row_cell">
		<a target="_blank" href="{% path linked, 'reference' %}">{{ linked.name }}</a>
	</span>

	<span class="jzl_row_cell">
		<a class="jzlink-linked-edit-btn" href="{{ linker.getLinkedAdmin().generateObjectUrl('edit',linked) }}" title="edit linked entity: {{ linked.name }}">
			<img src="{{ asset('bundles/sonataadmin/famfamfam/application_edit.png') }}" alt="edit" />
		</a>

		<a class="jzlink-linked-unlink-btn" href="{{ path('jgzzmedialinker_ajax_unlink', { 'linkername': linker.name, 'host_id':hostEntity.id, 'linked_id':linked.id }) }}" title="unlink entity: {{ linked.name }}">
			<img src="{{ asset('bundles/sonataadmin/famfamfam/link_break.png') }}" alt="unlink" />
		</a>

		<a class="jzlink-linked-del-btn" href="{{ path('jgzzmedialinker_ajax_delete', { 'linkername': linker.name, 'id':linked.id, 'host_id':hostEntity.id }) }}" title="remove linked entity: {{ linked.name }}">
			<img src="{{ asset('bundles/sonataadmin/famfamfam/cross.png') }}" alt="remove" />
		</a>
	</span>
{% endblock %}


